<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    <!-- START - titulo secundario -->
    {{ title }}
    <!-- END - titulo secundario -->
</h2>

<div>
    <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
        Número total de respuestas
    </p>
    <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
        <!-- START - valor del indicador 1 -->
        {{ total_responses }}
        <!-- END - valor del indicador 1 -->
    </p>
</div>